<nav class=" navbar navbar-expand-lg navbar-light vertical-menu">
 <!-- <button class=" " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->

  <div class="col-md-12 dashboard_form  " >

    <a href="#" class="active text-white"routerLink="/liste-membre">Home</a>
    <a href="#" class="text-white" routerLink="/creer membre">Liste Membre</a>
    <a href="#" class="text-white" routerLink="/liste commune"></a>
    <a href="#" class="text-white" routerLink="/commande-admin"></a>
    <a href="#" class="text-white" routerLink="/livraison"></a>
    </div>

    <br><br><br>

</nav>
